<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's Contact</title>
    <link rel="stylesheet" href="../static/styling.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "cv.html">Curriculum Vitae</a>
      <a class = "navvy" href = "fun.html">Fun Stuff</a>
      <a class = "navvy" href = "contact.html"><b>Contact</b></a>
    </nav>
  </header>
  <main class = "form-overall">
    <div class = "form-pt1">
      <a class="contact"><b>Contact Me</b></a><br><br>
      <p id="contact_validation-msg"></p> <!--added-->
      <form id = "myForm" onsubmit = "return validation()">
        <label for="friend">Are you a friend of the Strawhats?</label><br>
        <input type="radio" id="friendY" name="friend_status" value="Yes">
        <label for="friendY">I am!</label><br>
        <input type="radio" id="friendN" name="friend_status" value="No">
        <label for="friendN">I am not..yet!</label><br>
        <label for="firstName">First name:</label><br>
        <input type="text" id="firstName" name="firstName"><br>
        <label for="lastName">Last name:</label><br>
        <input type="text" id="lastName" name="lastName"><br>
        <label for="crew">Crew:</label><br>
        <input type="text" id="crew" name="crew"><br>
        
        <input type="checkbox" id="newfriend" name="newfriend" value="Yes">
        <label for="vehicle1"> I want to be considered a new friend!!!</label><br>
        <input id="contact_submit-shape" type="submit" value="Submit" onclick="validate()"><br><br> <!--added validate here-->
      </form>
    </div>
    <div class="form-pt2">
      <table class = "reach-me">
        <tr>
          <td><b><i>My Address:</i></b></td>
          <td>Ohara (no longer in existence)</td>
        </tr>
        <tr>
          <td><b><i>My DenDenMushi:</i></b></td>
          <td>Reachable via the Strawhats</td>
        </tr>
      </table>
    </div>
  </main>
  <footer id="footer_copyright-year">
    RelTuru &copy;
  </footer>
</body>
</html>



<!-- 
The <input type="submit"> defines a button for submitting the form data to a form-handler.

The form-handler is typically a file on the server with a script for processing input data.

The form-handler is specified in the form's action attribute.

<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>


 -->