<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's CV</title>
    <link rel="stylesheet" href="../static/styling.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "cv.html"><b>Curriculum Vitae</b></a>
      <a class = "navvy" href = "fun.html">Fun Stuff</a>
      <a class = "navvy" href = "contact.html">Contact</a>
    </nav>
  </header>
  <main>
    <table>
      <tr>
        <th class="cv-headers">Chief Archaeologist & Historian</th>
        <td>
          <ul>
            <li>Provide historical and archaeological expertise during crew adventures
            </li>
            <li>Research and translate discovered poneglyphs and ancient artifacts
            </li>
            <li>Gather intelligence on surrounding territories and potential threats
            </li>
            <li>Support crew with strategic combat assistance using Devil Fruit powers
            </li>
            <li>Maintain extensive records and catalog of historical findings</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th class="cv-headers">Syndicate Vice President </th>
        <td>
          <ul>
            <li>Operated under alias "Miss All Sunday" as partner to Mr. 0</li>
            <li>Coordinated operations between agent teams
            </li>
            <li>Managed intelligence gathering across Alabasta Kingdom
            </li>
            <li>Conducted archaeological research while maintaining cover</li>
            <li>Specialized in covert infiltration of secure locations</li>
          </ul>
        </td> 
      </tr>
      <tr>
        <th class="cv-headers">Archaeological Researcher </th>
        <td>
          <ul>
            <li> Pursued research on poneglyphs while evading World Government
            </li>
            <li>Formed temporary alliances with various groups for mutual benefit </li>
            <li>Conducted independent studies of ancient civilizations </li>
            <li>Developed expertise in identifying authentic historical artifacts </li>
            <li>Survived hostile conditions while continuing scholarly work </li>
          </ul>
        </td> 
      </tr>
      <tr>
        <th class="cv-headers">Ohara Library Researcher</th>
        <td><ul><li>Spent time compiling and organizing books.</li></ul></td>
      </tr>
      <tr>
        <th class="cv-headers">Ohara Library Shelver</th>
        <td><ul><li>Collected returns and reshelved.</li></ul></td>
      </tr>
    </table>

    <a class="my-resume" href="../static/nico_resume.pdf" target="_blank">View my full resume</a>
  </main>
  <footer>
    Copyright © 2025 relturu
  </footer>
</body>
</html>