<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's Facts</title>
    <link rel="stylesheet" href="../static/styling.css">
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "cv.html">Curriculum Vitae</a>
      <a class = "navvy" href = "fun.html"><b>Fun Stuff</b></a>
      <a class = "navvy" href = "contact.html">Contact</a>
    </nav>
  </header>
  <main>
    <a class="fun"><i>Fun Facts about yours truly ;)</i></a>
    <button id = "fun_button-styling" onclick="showList()">Click to see !!</button>
    <ul class="fun-list">
        <li>They call me the "Devil Child" and put a bounty of 79 million berries on my head when I was just 8 years old - I was the youngest person to ever receive a bounty.</li>
        <li>I ate the Hana Hana no Mi (Flower-Flower Fruit), which allows me to sprout replicas of my body parts on any surface.
        </li>
        <li>I spent 20 years on the run before joining the Straw Hat Pirates, working with various criminal organizations just to survive.
        </li>
        <li>I have what some call a dark sense of humor. I often make observations that seem to frighten my crewmates.</li>
        <li>I often use my devil fruit powers to create eyes and ears for spying and surveillance.</li>
    </ul>
  </main>
  <footer id="footer_copyright-year">
    RelTuru &copy;
  </footer>
</body>
</html>