<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's Facts</title>
    <link rel="stylesheet" href="../static/styling.css">
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
    <script defer src="../static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "cv.html">Curriculum Vitae</a>
      <a class = "navvy" href = "fun.html"><b>Fun Stuff</b></a>
      <a class = "navvy" href = "contact.html">Contact</a>
    </nav>
  </header>
  <main class="mainLayout">
    <div id="item1">
      <a class="fun"><i>Fun Facts about yours truly ;)</i></a>
      <button id = "fun_button-styling" onclick="showList()">Click to see.</button>
      <ul id ="fun_id-list" class="fun-list">
        <li>They call me the "Devil Child" and put a bounty of 79 million berries on my head when I was just 8 years old - I was the youngest person to ever receive a bounty.</li>
        <li>I ate the Hana Hana no Mi (Flower-Flower Fruit), which allows me to sprout replicas of my body parts on any surface.
        </li>
        <li>I spent 20 years on the run before joining the Straw Hat Pirates, working with various criminal organizations just to survive.
        </li>
        <li>I have what some call a dark sense of humor. I often make observations that seem to frighten my crewmates.</li>
        <li>I often use my devil fruit powers to create eyes and ears for spying and surveillance.</li>
    </ul>
  </div>
  <div id="item2">
    I don't have favorites. But if i did-
    <img src="../static/images/chop.png" alt="pic of chopper" id="fun_img-chop">
    <img src="../static/images/chop_Card.png" alt="pic of chopper's card" id="fun_img-chopcard">
  </div>
  <div id="item3">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fomwC_-FQ70?si=tn5sa-STvCYl3gfG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br>I thoroughly enjoy this video.
  </div>
  <div id="item4">
    <div class="item4_container">
      <h2>In need of ~advice?</h2>
      <p id="adviceText">I gotchu, just click here.</p>
      <button id = "advice_button-styling" onclick="showAdvice()">Get Advice</button>
    </div>
  </div>
  </main>
  <footer id="footer_copyright-year">
    RelTuru &copy;
  </footer>
</body>
</html>