<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's CV</title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "cv.html">Curriculum Vitae</a>
      <a class = "navvy" href = "fun.html">Fun Stuff</a>
      <a class = "navvy" href = "contact.html">Contact</a>
    </nav>
  </header>
  <main>
    <a class="contact"><b>Contact Me</b></a>
    <form>
      <label for="friend">Are you a friend of the Strawhats?</label><br>
      <input type="radio" id="friendY" name="friend_status" value="Yes">
      <label for="friendY">I am!</label><br>
      <input type="radio" id="friendN" name="friend_status" value="No">
      <label for="friendN">I am not..yet!</label><br><br>
      <label for="firstName">First name:</label><br>
      <input type="text" id="firstName" name="firstName"><br>
      <label for="lastName">Last name:</label><br>
      <input type="text" id="lastName" name="lastName"><br><br>
      <label for="crew">Crew:</label><br>
      <input type="text" id="crew" name="crew"><br><br>
      
      <input type="checkbox" id="newfriend" name="newfriend" value="Yes">
      <label for="vehicle1"> I want to be considered a new friend!!!</label><br><br>
    </form>
    <table class = "reach-me">
      <tr>
        <td><b><i>My Address:</i></b></td>
        <td>Ohara (no longer in existence)</td>
      </tr>
      <tr>
        <td><b><i>My DenDenMushi:</i></b></td>
        <td>Reachable via the Strawhats DenDenMushi.</td>
      </tr>
    </table>
  </main>
  <footer>
    Copyright © 2025 relturu
  </footer>
</body>
</html>