<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robin's CV</title>
    <link rel="stylesheet" href="../static/styling.css">
</head>
<body>
  <header>
    <div class = "AAb">
      <div id="naming">
        Nico Robin
        <br><i>Archaeologist</i>
      </div>
      <img src="../static/images/rob3.png" alt="robin smiling" class="topImg"> 
    </div>
    <nav>
      <a class = "navvy" href = "../index.html">Home</a>
      <a class = "navvy" href = "views/cv.html">Curriculum Vitae</a>
      <a class = "navvy" href = "views/fun.html">Fun Stuff</a>
      <a class = "navvy" href = "views/contact.html">Contact</a>
    </nav>
  </header>
  <main>
    <a class="fun">Things I love to do for fun</a>
    <ul>
        <li>Operated under alias "Miss All Sunday" as partner to Mr. 0</li>
        <li>Coordinated operations between agent teams
        </li>
        <li>Managed intelligence gathering across Alabasta Kingdom
        </li>
        <li>Conducted archaeological research while maintaining cover</li>
        <li>Specialized in covert infiltration of secure locations</li>
      </ul>
  </main>
  <footer>
    Copyright © 2025 relturu
  </footer>
</body>
</html>