*{
  background: rgb(255, 249, 224);
  color: rgb(38, 33, 11);
  /* font-family: Arial, sans-serif; */
  font-family: Roboto, sans-serif;
  /* alr using padding */
}
.AAB{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.AAb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allbot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body>main,body>header,body>nav{
  margin-top:5%;
  margin-left: 5%;
  margin-right: 5%;
}

#botleftimg{
  /* margin-left:0px; */
  width:45%;
}

#botrightimg{
  width:25%;
}

.contact{
  font-size:200%;
}

#contact_submit-shape{
  border-radius:15px;
  font-size:100%;
  margin-top:3%;
}

#contact_submit-shape:hover{
  background-color:rgb(134, 134, 179);
  color: white;
}

.cv-headers{
  text-align:left;
  vertical-align:top;
}

footer{
  /* bottom:0; */
  background:rgb(134, 134, 179);
  display:flex;
  font-size:150%;
  justify-content:center;
  /* height:50px; */
  margin-top:7.5%;
  padding-top:5%;
  padding-bottom:2%;
  /* position: absolute; */
  /* width:100%; */
}

form{
  /* display:flex;
  justify-content: space-between; */
  font-size:150%;
}

/* .form-pt1{
  display:flex;
  flex-direction: column;
}

.form-pt2{
  display:flex;
  flex-direction:column;
} */

.form-overall{
  display: flex;
  justify-content: space-between;
    /* gap: 10px;  */
    /* Adds space between the columns */
  width: 80%;
}

.fun{
  display:flex;
  font-size:200%;
  justify-content:center;
}

.fun-list{
  font-size:150%;
  padding-left:15%;
  padding-right:15%;
}

#haiku{
  background-color:rgb(134, 134, 179);
  border-radius:15px;
  font-size:200%;
  /* padding-top:0.5%; */
  /* padding-bottom:0.5%; */
  padding-left:1.5%;
  padding-right:1.5%;
}

#haiku>p{
  background-color:rgb(134, 134, 179);
}

.my-resume{
  color:rgb(134, 134, 179);
  display:flex;
  font-size:150%;
  justify-content:center;
  padding-top:5%;
  padding-bottom:5%;
  /* align-items:center; centers items in a flex container vertically */
  /* text-align:center; only centers items inline content w/in a block, not block itself */
}

#naming>i{
  background-color:rgb(134, 134, 179);
  font-size:80%;
  padding:1%;
}

#naming{
  background-color:rgb(134, 134, 179);
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
  font-size: 400%;
  padding:1.5%;
}

nav{
  display: flex;
  justify-content: space-between;
  padding-top:5%;
  padding-bottom:5%;
}

.navvy{
  color:rgb(134, 134, 179);
  font-size:200%;
  text-decoration:none;
   /* border: 2px solid rgb(134, 134, 179);; Width, style, and color */
  /* padding: 10px;  */
}

#quote{
   font-size:350%; 
}

.reach-me{
  /* border-spacing:10px; */
  font-size:150%;
}

table{
  display:flex;
  font-size:125%;
  justify-content:center;
}

.topImg{
  width:35%;
}

td>ul{
  margin-top:0%;
  vertical-align:top;
}

th{
  background-color:rgb(38, 33, 11);
  color:white;
  /* padding-top:12px;
  padding-bottom:12px; */
  padding:1%;
  width:fit-content;
}

td{
  padding:1%;
}

table tr:nth-child(odd) td,
table tr:nth-child(odd) td * {
  background-color: rgb(134, 134, 179);
  color:white;
}

